img {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}
body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Espacio entre imágenes */
    justify-items: center;
}
figcaption {
    padding-left: 60px;
}

div {
    width:100px;
}